<div class="card">
    <h3 class="card-header">
        <a href="/post/{{id}}">{{title}}</a>
        <p class="author">Posted by {{user.username}} on {{format_date created_at}}</p>
    </h3>
    <div class="card-body">
        {{post_text}}
    </div>
</div>